@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif
}

:root {
   --snd-bg-color: #111;
   --text-color: #41319d;
   --main-color: #2AC0EE; /*#4400ff;*/
   --primary: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


/*============ Header Section Start ==========*/


header {
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: transparent;
    transition: all 0.5s ease;
}

nav.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 5%;
}

.logo {
    width: 150px !important;
}

.logo span{
    width: 70px;
    cursor: pointer; 
}

.navbar {
    display: flex;
    margin-right: 0%;
} 

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 4rem;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black !important;
} 

.navbar a:hover,
.navbar a:active {
    color: var(--main-color) !important;
    border-bottom: 3px solid var(--main-color) !important;
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background:  transparent;
    color: black !important;
    text-decoration: none;
    border-radius: 1rem;
    border: 1px solid black !important;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background:  var(--main-color);
    border: none !important;
    color: var(--primary) !important;
    box-shadow: 0 0 18px var(--main-color);
}

.dropbtn{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background:  var(--main-color);
    color: var(--primary) !important;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/*============ Header Section End ==========*/



/* Header Section Code */

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    backdrop-filter: blur(10px);
    background: transparent;
    /* background-color: #800000; */
    transition: all 0.5s ease;  
}
.logo {
    width: 70px;
    /* cursor: pointer; */
}

.logo span{
    width: 70px;
    cursor: pointer; 
}

.logo:hover{
    transform: scale(1.1);
}

.navbar {
    display: flex;
    margin-right: 0%;
} 

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
} 

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background:  transparent;
    color: rgb(64, 0, 255);
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background:  var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}

/* ============Newly added product========== */

.product-intro h1{
    font-size: 35px;
    color: #000000;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.product-intro{
    text-align: center;
}

.product-intro hr{
    border: 2px solid #000000; 
    width: 10%; 
    margin: 10px auto;
    margin-bottom: 30px;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px 20x;
    position: relative;
    margin-right: 18px;
}

.p-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* overflow: hidden; */
    margin-right: 12px;
}

.p-img a,
.p-img{
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 2px;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    margin-right: 2px;
}

.p-box-text {
    margin-top: 5px;
    width: 100%;
    margin-right: 12px;
}

.p-img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 12px;
}

.product-category span{
    color: #ff524b;
    font-size: 0.9rem;
    margin: 5px 0px;
    margin-right: 12px;
}

.prodict-title{
    color: #000;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-title:hover{
    color: #111111;
    opacity: 0.7;
    transition: all ease 0.3s;

}

.price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price-buy .p-price{
    font-size: 1.3rem;
    color: #333333;
    font-weight: 700;
}

.price-buy .p-buy-btn{
    color: red;
    margin: 0px 5px;
    font-weight: 900;
}

.price-buy .p-buy-btn:hover{
    text-decoration: underline;
}

.p-discount{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 65px;
    height: 24px;
    color: #fff;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    z-index: 100;
    border-radius: 3px;
}

.section-newproduct{
    background-color: #D8D8D8;
    padding: 50px 100px;
    display: flex;
    overflow-x: auto; 
}

/* =================== PRODUCT DETAILS =============== */

.row{
    color: #000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-top: 110px !important;
    padding-left: 40px !important;
    padding-bottom: 60px !important;
}

.col-2 img {
    max-width: 100%;
    /* padding: 50% 0; */
}

.col-2 p{
    font-size: 16px;
    line-height: 2.7rem;
}

.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 15px 0;
}

.col-2 h4{
    word-spacing: 4px;
}

.col-2 select{
    font-size: 17px;
    margin-left: -10px;
}

.col-2 h3{
    font-size: 25px;
    margin-top: 20px;
}

.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    font-size: 15px;
    padding: 8px 30px;
    margin: 20px 0px 0px 20px;
    border-radius: 80px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.product .col-2 img{
    height: 100%;
    padding: 0%;
} 

.product .col-2 {
    padding: 15px;
}

.product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

p{
    font-size: 12px;
}

.product select{
    display: block;
    padding: 5px;
    margin-top: 20px;
}

.product input{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff524b;
}

input:focus{
    outline: none;
}



/*=======  Footer Start ========*/

footer{
    background-color: var(--snd-bg-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
}

footer div{
    flex-basis: 30%;
}

footer h1{
    letter-spacing: 0.25rem;
    font-size: 30px;
}

footer h1 span{
    color: #fff;
}

footer p{
    font-size: 1.5rem;
}

footer i{
    padding: 0px 5px;
    margin-bottom: 15px;
    font-size: 18px;
}


/*=======  Footer End  ========*/
