* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif
}

:root {
   --snd-bg-color: #111;
   --text-color: #41319d;
   --main-color: #2AC0EE; /*#4400ff;*/
   --primary: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    background-image: url(sketches.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
}

/*============= Header Start ==============*/

header {
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: transparent;
    transition: all 0.5s ease;
}

nav.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 5%;
}

.logo {
    width: 150px;
}

.logo span{
    width: 70px;
    cursor: pointer; 
}

.navbar {
    display: flex;
    margin-right: 0%;
} 

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
} 

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background:  transparent;
    /* color: rgb(64, 0, 255); */
    color: black;
    text-decoration: none;
    border-radius: 1rem;
    border: 1px solid black;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background:  var(--main-color);
    border: none;
    color: var(--primary);
    box-shadow: 0 0 18px var(--main-color);
}

.dropbtn{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background:  var(--main-color);
    color: var(--primary);
}

.dropdown:hover .dropdown-content{
    display: block;
}


/*============= Header End ==============*/


/*======== Services Start =========*/

/* Painting Section*/

.painting{
    background: transparent;
    width: 100vw;
    height: calc(100vh - 133px);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px -20px 8px -14px rgba(255,255,255,1);
-moz-box-shadow: inset 0px -20px 8px -14px rgba(255,255,255,1);
box-shadow: inset 0px -20px 8px -14px rgba(255,255,255,1);
}

.painting-content h1{   
    color: var(--snd-bg-color);
    text-align: center;
    margin-top: -120px;
    font-size: 80px;
    letter-spacing: 3px;
}
.painting-content h3{   
    color: var(--snd-bg-color);
    text-align: center;
    margin-top: 10px;
    font-size: 60px;
    letter-spacing: 3px;
}
.painting-banner{
    /* background-image: url(1.jpg); */
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.latest{
    padding: 50px 100px;
    background-color: rgb(226, 226, 226);
}

.product-intro h1{
    font-size: 35px;
    color: #800000;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.product-intro hr{
    border: 2px solid #000000; 
    width: 10%; 
    margin: 10px auto;
}

.product-intro{
    text-align: center;
}

.product-intro p{
    color: var(--snd-bg-color);
    margin: 15px 0px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
}

.card-container .card{
    flex-basis: 20%;
    position: relative;
    padding: 0.8rem;
    background-color: white;
    padding: 15px 15px;
    width: 100%;
    height: 28rem;
    border-radius: 10px;
    cursor: default;
    transition: 0.3s ease-in-out;
}
.card:hover{
    -webkit-box-shadow: 0px 8px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 5px -1px rgba(0,0,0,0.75);
box-shadow: 0px 8px 5px -1px rgba(0,0,0,0.75);
transform: translateY(-5px);
}

.card-img{
    width: 100%;
    height: 60%;
    transition: 0.5s ease-in-out;
    padding: 0;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 8px;
}

.card img{
    width: 100%;
    transition: 0.5 ease-in-out;
}

.card h1{
    margin: 10% 0 0 0;
    color: var(--snd-bg-color);
    text-align: center;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prod-Details {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 8%;
    align-items: center;
}

.price {
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: #ff6f61;
    padding: 10px 10px;
    width: 35%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.price:hover{
transform: scale(1.04);
-webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
}

.price:active{
    transform: scale(0.98);
}

.addToCart {
    background-color: #ff6f61;
    color: white;
    padding: 10px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.addToCart:hover{
    transform: scale(1.04);
    -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    }
    
.addToCart:active{
    transform: scale(0.98);
}

.btn i {
    margin-right: 5px;
}




/*=======  Footer Start ========*/

footer{
    background-color: var(--snd-bg-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
}

footer div{
    flex-basis: 30%;
}

footer h1{
    letter-spacing: 0.25rem;
    font-size: 30px;
}

footer h1 span{
    color: #fff;
}

footer p{
    font-size: 1.5rem;
}

footer i{
    padding: 0px 5px;
    margin-bottom: 15px;
    font-size: 18px;
}




/*=======  Footer End  ========*/

