<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="icon" href="../static/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Rang E Pakistan | About Us</title>
</head>
<body>
        <!-- =========== Header section Start ============= -->
    
    
        <header>
            <nav class="header">
                <a href="#home"><img src="../static/logo-.png" class="logo"></a>
                <ul class="navbar">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about')}}">About Us</a></li>
                    <li class="dropdown"><a href="#" class="dropbtn">Services</a>
                        <div class="dropdown-content">
                            <a href="{{url_for('painting')}}">Painting</a>
                            <a href="{{url_for('calligraphy')}}">Calligraphy</a>
                            <a href="{{url_for('sketches')}}">Sketches</a>
                            <a href="{{url_for('textiles')}}">Textiles</a>
                        </div>
                    </li>
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
                <div class="top-btn">
                    <a href="{{url_for('login')}}" class="nav-btn">Login</a>
                </div>
            </nav>
        </header>
    
    
        <!-- =========== Header section End ============= -->
    
        
        <!-- about Section Code -->
    
    
        <section>
            <div class="home-img">
                <div class="text-box">
                    
                    <h1>ABOUT US</h1>
                    <hr>
                    <p>
                        "Welcome to <b>RANG E PAKISTAN</b>, where art meets passion! We're a team of <br>creative enthusiasts dedicated to bringing you unique, handmade, and <br>curated products that tell a story. With a focus on quality, craftsmanship,<br> and community, we're committed to delivering an exceptional shopping <br>experience that inspires and delights."

                        <!-- <B>RANG-E-PAKISTAN</B> connects artists with clients, offering a platform <br>where artists can showcase their work and clients can purchase <br>unique art pieces. We aim to support creativity and make art accessible to <br> everyone. -->
                    </p>
                    
                </div>
            </div>
        </section>

        <!-- about section 2 -->


        <section>
            <div class="first">
                <div class="second">
                    <h1 id="AA">WE ARE ART DECO</h1>
                    <p id="AB">
                        It is our mission to make it easy for you to discover and collect fine art from renowned artists, galleries, and cultural institutions worldwide. We celebrate creativity, openness, tolerance, and generosity. We aim to be inclusive places—both onsite and online—where diverse cultural, artistic, social, and political positions are welcome. We’re committed to sharing the most thought-provoking modern and contemporary art, and hope you will join us in exploring the art, ideas, and issues of our time.

                        <ul>
                            <li><b>.</b>We are a leading online marketplace for fine art.</li>
                            <li><b>.</b> We are an art gallery.</li>
                            <li><b>.</b> We are a community of artists.</li>
                            <li><b>.</b> We are a community of collectors.</li>
                            <li><b>.</b> We are a community of art lovers.</li>
                        </ul>

                    </p> 
                </div>
                <div class="third">
                    <img src="../static/about2.jpeg">
                </div>
            </div>
        </section>

        <!-- about section 2 -->
        
        
        <!-- about section 3 -->

        <section>
            
            <h1 style="text-align: center; margin-top: 80px; font-size: 60px;">WHY CHOOSE US?</h1>
            <hr style="border: 2px solid #000000; width: 10%; margin: 10px auto;">
            <div class="fourth">
                <div id="fifth">
                    <h1 id="hd">ALWAYS AVAILABLE</h1>
                    <hr style="width:25%; margin: 10px auto; text-align: center; border: 1px solid black;">
                    <p id="pd">We accept requests and phone calls 24/7 so you could resolve any problem. Our emergency team will be at your place.</p>
                </div>
                <div id="fifth">
                    <h1 id="hd">QUALIFIED AGENTS</h1>
                    <hr style="width:25%; margin: 10px auto; text-align: center; border: 1px solid black;">
                    <p id="pd">All our team members are high-qualified, educated and skilled agents. All of them are being trained according to the latest technologies.</p>
                </div>
                <div id="fifth">
                    <h1 id="hd">FAIR PRICES</h1>
                    <hr style="width:25%; margin: 10px auto; text-align: center; border: 1px solid black;">
                    <p id="pd">Our prices are both fair and affordable for all people. We offer flexible discount system so you could use any service you need.</p>
                </div>
                <div id="fifth">
                    <h1 id="hd">BEST OFFERS</h1>
                    <hr style="width:25%; margin: 10px auto; text-align: center; border: 1px solid black;">
                    <p id="pd">We provide discounts on the most popular services and on the season services, so you could definitely receive any help without delay.</p>
                </div>

            </div>
        </section>


        <!-- about section 3 -->
           
           
        <!-- section 4 -->
        <section>
            <div class="six">
                <div id="seven">
                    <h1 id="AA">OUR MISSION</h1>
                    <hr style="border: 2px solid #000000; width: 20%;  margin: 10px auto;">
                    <p id="AB">We have a selection of thousands of artworks from some of the <br>best names in contemporary fine art. From the internationally recognizable to artists on the cusp of their careers, we offer a selection of artworks that will please any level of collector. Check back often as we are constantly adding new works to the site. <br>If you can’t find what you are looking for, contact us and we <br>will be happy to help.</p>
                    <button class="btn" style="margin-top: 60px;">
                        <span>Our Projects</span>
                    </button>
                </div>
                <div id="seven">
                    <h1 id="AA">POPULAR QUESTIONS</h1>
                    <hr style="border: 2px solid #000000; width: 20%; margin: 10px auto;">
                    <h2 id="yu">- How can I check to make sure an item is in stock?</h2>
                    <hr style="border: 1px solid #808080;">
                    <p id="AB">Please call our stores for up to date availability on any item. <br>You may also email our web team at info@demolink.org</p>
                    <br><h2 id="yu">
                        + Do you offer delievery services?
                    </h2>
                    <hr style="border: 1px solid #808080;">
                    <br><h2 id="yu">
                        + Do you replacement parts?
                    </h2>
                    <hr style="border: 1px solid #808080;">
                </div>

            </div>
        </section>
        
        
        <!-- section 4 -->
        
        
        
        <!-- footer -->
        <footer>
            <div class="">
                <h1>Rang E <span>Pakistan</span></h1>
                <p>"Where Art Meets Shopping"</p>
            </div>
            <div class="">
                <a href="#"></a><i class="fa-brands fa-instagram"></i>
                <a href="#"></a><i class="fa-brands fa-witter"></i>
                <a href="#"></a><i class="fa-brands fa-facebook"></i>
                <a href="#" id=""></a><i class="fa-brands fa-whatsapp"></i>
                <p>Design by Crafty Coders</p>
            </div>
            <div class="">
                <p>@2025 copyright All Rights reserved</p>
            </div>
            
        </footer> 
        <!-- footer end -->

            


        


   

    
</body>
</html>