<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rang E Pakistan | Product Details</title>
    <link rel="stylesheet" href="../static/products.css">
    <link rel="icon" href="../static/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    
    <!-- =========== Header section Start ============= -->
    
    
    <header>
        <nav class="header">
            <a href="#home"><img src="../static/logo-.png" class="logo"></a>
            <ul class="navbar">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
                <li class="dropdown"><a href="#" class="dropbtn">Services</a>
                    <div class="dropdown-content">
                        <a href="{{url_for('painting')}}">Painting</a>
                        <a href="{{url_for('calligraphy')}}">Calligraphy</a>
                        <a href="{{url_for('sketches')}}">Sketches</a>
                        <a href="{{url_for('textiles')}}">Textiles</a>
                    </div>
                </li>
                <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
            <div class="top-btn">
                <a href="{{url_for('login')}}" class="nav-btn">Login</a>
            </div>
        </nav>
    </header>


    <!-- =========== Header section End ============= -->


   
<!-- ============================= PRODUCT DETAILS ====================== -->

<div class="small-container product">
    <div class="row">
        <div class="col-2">
            <img src="../static/c14.jpg" width="100%" alt="">
        </div>
        <div class="col-2">
            <p>Home / Calligraphy img</p>
            <h1>Islamic Calligraphy</h1>
            <h4>Rs. 2000/-</h4>
            <select>
                <option>Select Size</option>
                <option> 12 x 16" </option>
                <option> 18 x 24" </option>
                <option> 24 x 36" </option>
            </select>
            <input type="number" value="1">
            <a href="#" class="btn">Add To Cart</a>
            <h3>Product Details :</h3>
            <br>
            <p>
                Type Original
                Size: 12 x 16 in / 18 x 24 in / 24 x 36 in  <br>
                Material: Canvas <br>
                Artist: Somnath Bothe<br>
                Medium: Acrylic Charcoal<br>
                Subject: Religious<br>
                Shape: Horizontal<br>
                Type: Painting<br>
                SKU: AZ_PAIN_302693<br>
                Availability: Available
            </p>
        </div>
    </div>
</div>



<!-- ====================== PRODUCT ================== -->

    <section class="latest">
        <div class="product-intro">
            <h1>You may also like</h1>
            <hr>
        </div>
    
    <div class="section-newproduct">
        <div class="product-box">
            <span class="p-discount">-20%</span>
            <div class="p-img-container">
                <div class="p-img">

                    <a href="#">
                        <img src="../static/images (1).jpg" class="p-img-front" alt="">
                    </a>
    
                </div>
            </div>
            <div class="p-box-text">
                <!-- category -->
                 <div class="product-category">
                    <span>Loin Painting</span>
                 </div>
                 <!-- Title -->
                  <a href="#" class="prodict-title">
                    Beautiful loin painting
                  </a>
                  <!-- price -->
                   <div class="price-buy">
                    <span class="p-price">Rs.2000/-</span>
                    <a href="#" class="p-buy-btn">Buy Now</a>
                   </div>

            </div>
        </div>


        <div class="product-box">
            <span class="p-discount">-20%</span>
            <div class="p-img-container">
                <div class="p-img">
                    <a href="#">
                        <img src="../static/images (2).jpg" class="p-img-front" alt="">
                    </a>
    
                </div>
            </div>
            <div class="p-box-text">
                <!-- category -->
                 <div class="product-category">
                    <span>Loin Painting</span>
                 </div>
                 <!-- Title -->
                  <a href="#" class="prodict-title">
                    Beautiful loin painting
                  </a>
                  <!-- price -->
                   <div class="price-buy">
                    <span class="p-price">Rs.2000/-</span>
                    <a href="#" class="p-buy-btn">Buy Now</a>
                   </div>

            </div>
        </div>

        <div class="product-box">
            <span class="p-discount">-20%</span>
            <div class="p-img-container">
                <div class="p-img">
                    <a href="#">
                        <img src="../static/images (3).jpg" class="p-img-front" alt="">
                    </a>
    
                </div>
            </div>
            <div class="p-box-text">
                <!-- category -->
                 <div class="product-category">
                    <span>Loin Painting</span>
                 </div>
                 <!-- Title -->
                  <a href="#" class="prodict-title">
                    Beautiful loin painting
                  </a>
                  <!-- price -->
                   <div class="price-buy">
                    <span class="p-price">Rs.2000/-</span>
                    <a href="#" class="p-buy-btn">Buy Now</a>
                   </div>

            </div>
        </div>

        <div class="product-box">
            <span class="p-discount">-20%</span>
            <div class="p-img-container">
                <div class="p-img">
                    <a href="#">
                        <img src="../static/images.jpg" class="p-img-front" alt="">
                    </a>
    
                </div>
            </div>
            <div class="p-box-text">
                <!-- category -->
                 <div class="product-category">
                    <span>Loin Painting</span>
                 </div>
                 <!-- Title -->
                  <a href="#" class="prodict-title">
                    Beautiful loin painting
                  </a>
                  <!-- price -->
                   <div class="price-buy">
                    <span class="p-price">Rs.2000/-</span>
                    <a href="#" class="p-buy-btn">Buy Now</a>
                   </div>

            </div>
        </div>

        <div class="product-box">
            <span class="p-discount">-20%</span>
            <div class="p-img-container">
                <div class="p-img">
                    <a href="#">
                        <img src="../static/52Figure40__50289-min-2__81530.jpg" class="p-img-front" alt="">
                    </a>
    
                </div>
            </div>
            <div class="p-box-text">
                <!-- category -->
                 <div class="product-category">
                    <span>Loin Painting</span>
                 </div>
                 <!-- Title -->
                  <a href="#" class="prodict-title">
                    Beautiful loin painting
                  </a>
                  <!-- price -->
                   <div class="price-buy">
                    <span class="p-price">Rs.2000/-</span>
                    <a href="#" class="p-buy-btn">Buy Now</a>
                   </div>
            </div>
        </div>
</section>


<!-- =========== Footer section Start ============= -->


<footer>
    <div class="">
      <h1>Rang E <span>Pakistan</span></h1>
      <p>"Where Art Meets Shopping"</p>
    </div>
    <div class="">
        <a href="#"></a><i class="fa-brands fa-instagram"></i>
        <a href="#"></a><i class="fa-brands fa-twitter"></i>
        <a href="#"></a><i class="fa-brands fa-facebook"></i>
        <a href="#" id=""></a><i class="fa-brands fa-whatsapp"></i>
        <p>Design by Crafty Coders</p>
    </div>
    <div class="">
        <p>@2025 copyright All Rights reserved</p>
    </div>
</footer> 


<!-- =========== Footer section End ============= -->

</body>
</html>